extends layout
block content
  h1 Identificación
  form(method="post", action="/identificacion")
    label Nombre
    input(type="text", name="nombre", required="required")
    input(type="submit", value="identificacion")
