extends layout
block content
  p 'Oa, acá voy a poner la documentación del api, pero cuando hice esto estaba muy cansadito jeje
  ul
    each item in lista
      li
        a(href='/api' + item.href)=item.name
    
