extends layout

block content
  h1= title
  h3 Acá mostraría las gráficas que necesita la alcaldía de envigado para sus análisis estadísticos sobre la calidad del aire en interiores...
  h1 ¡Si tuviera una!
